<div class="home-bar">Barra</div>
<div class="initial-block font-text">
    
    <button id="cv" class="button-cv font-text">
        <i class="fas fa-file-download"></i> Descargar CV
    </button>

    <div class="titles">
        <h2 class="font-title">Web Developer</h2>
        <h1 class="montserrat">Jesús Sánchez Villarrubia</h1>
    </div>

    <p style="color: #8E8E93;">Junior programmer with Angular & Java</p>

    <div class="social_media_links">
        <input class="button-social-media font-text" type="button" value="Linkedin ➡">
        <input class="button-social-media font-text" type="button" value="Github ➡">
    </div>

</div>